<div class="row">
    <div class="col-xs-8">
        <h2 class="jr-brand-color content-title">Contact Me</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <ul class="list-group flex-column">
            <li class="list-group-item">Email: <a href="mailto:ryngaejm@wfu.edu">ryngaejm@wfu.edu</a></li>
            <li class="list-group-item">
                <strong>Kirby Hall</strong>
                <div>Wake Forest University</div>
                <div>Box 7505 </div>
                <div>Winston-Salem, NC 27109 USA</div>
            </li>
        </ul>        
    </div>
</div>