<div class="row">
    <div class="col-xs-8">
        <h2 class="jr-brand-color content-title">Contact Me</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <ul class="list-group flex-column">
            <li class="list-group-item">Email: <a href="mailto:jane.ryngaert@utexas.edu">jane.ryngaert@utexas.edu</a> </li>
            <li class="list-group-item">
                <div>University of Texas at Austin Department of Economics</div>
                <div>2225 Speedway C3100 </div>
                <div>
                    Austin, TX 78712</div>
            </li>
        
</ul>        
    </div>
</div>