<div class="row">
  <div class="col-xs-10">
    <h2 class="jr-brand-color content-title">Home</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <div class="media jr-media-background">
      <div class="media-left">
        <img class="media-object" src="/app/resources/Ryngaert_Jane_jmr5925_stu_2017-09-15_2.png" alt="" />
      </div>
      <div class="media-body">
        <h4 clas="media-heading">Jane Ryngaert</h4>
        <p>
          I am an assistant professor of economics at Wake Forest University. My primary area of research is
          macroeconomics and monetary policy. My research focuses on expectations formation with a particular emphasis
          on the constraints agents face in collecting and processing information.
        </p>
      </div>
    </div>
  </div>
</div>
