<div class="row">
  <div class="col-xs-10">
    <h2 class="jr-brand-color content-title">Home</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <div class="media jr-media-background">
      <div class="media-left">
        <img class="media-object" src="/app/resources/Jane Ryngaert.jpg" alt="" />
      </div>
      <div class="media-body">
        <h4 clas="media-heading">Jane Ryngaert</h4>
        <p>
          I am an assistant professor of economics at the University of Notre Dame. My primary area of research is
          macroeconomics and monetary policy. My research focuses on inflation expectations - their drivers and the
          relationship between expectations and the actions of economic agents. I am particularly interested in workers'
          labor market responses to expected and realized inflation.
        </p>
      </div>
    </div>
  </div>
</div>
