<div class="row">
    <div class="col-xs-10">
        <h2 class="jr-brand-color content-title">Home</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="/app/resources/Ryngaert_Jane_jmr5925_stu_2017-09-15_2.png" alt="">
            </div>
            <div class="media-body">
                <h4 clas="media-heading">Jane Ryngaert</h5>
                <p>
                I am a Ph.D. candidate in Economics at the University of Texas at Austin. My research fields are Macroeconomics and Forecasting.
                My research focuses on expectations formation with a particular emphasis on the constraints agents face in
                collecting and processing information.
                </p>
                <p>I am currently on the job market and will be attending the January
                2018 AEA/ASSA conference.</p>
            </div>
        </div>

    </div>
</div>