<div class="row">
    <div class="col-xs-10">
        <h2 class="jr-brand-color content-title">Research</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
          <ul class="list-group flex-column">
              <li class="list-group-item">
                  <a download href="/app/resources/J_Ryngaert_Research_Statement.pdf">Download my Teaching Statement</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <h3 class="jr-brand-color">Working Papers</h2>

            <div class="panel">
                <div class="panel-heading">
                    <h4>
                        “What Do (and Don’t) Forecasters Know about U.S. Inflation?” (Job Market Paper)
                    </h4>
                </div>
                <div class="panel-body">
                    <p>
                        This paper contributes to and extends our current understanding of information frictions in expectations. I first propose
                        a new framework for estimating noisy information using individual forecasts, rather than mean forecasts
                        as commonly done in previous work, that provides much more power for identifying underlying information
                        rigidities. I further extend this framework to incorporate mis-perceptions on the part of economic
                        agents about the persistence of the underlying process being forecasted. Applying this framework
                        to U.S. inflation forecasts of professional forecasters points toward significantly less noisy information
                        than previous estimates but reveals a systematic underestimation on the part of forecasters of the
                        persistence of inflation. Using a structural model that incorporates both mechanisms, I quantify
                        the relative importance of each channel in accounting for the expectations formation process of these
                        agents. The results indicate that, even for professional forecasters, there are multiple forces that
                        generate economically significant deviations from full-information.
                    </p>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <h4>
                        “Do You Know that I Know that You Know...? Higher Order Beliefs in Survey Data”</h4>
                    <em> with Olivier Coibion Yuriy Gorodnichenko,
                    and Saten Kumar</em>

                </div>
                <div class="panel-body">
                    <p>
                        Using novel survey questions on the higher-order expectations of firm managers, we study the formation and evolution of these
                        beliefs. A unique experimental approach allows us to characterize the degree of higher-order thinking
                        of economic agents and how this degree of higher-order thinking affects managers’ expectations as
                        well as their economic decisions. We then relate these results to macroeconomic models in which higher-order
                        thinking matters for dynamics.
                    </p>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <h4>
                        “Time-Varying Attention in Survey Data”
                    </h4>
                </div>
                <div class="panel-body">
                    <p>
                        This paper develops a method for measuring the information flow of economic agents at a given point in time using survey
                        data. I document a reduction in attention to the inflation process over time while simultaneously
                        finding an increase in attention to unemployment, consistent with a reallocation of their attention
                        over time. I further document that in periods in which agents are paying more attention to a specific
                        variable, there is also greater cross-sectional dispersion in attention across agents. I present
                        a potential explanation for these stylized facts based on reduced forecaster confidence in the Phillips
                        Curve relation over time.
                    </p>
                </div>
            </div>
    </div>
</div>