<div class="row">
  <div class="col-xs-10">
    <h2 class="jr-brand-color content-title">Research</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <h3 class="jr-brand-color">Publications</h3>
    <div class="panel">
      <div class="panel-heading">
        <h4>Do You Know that I Know that You Know...? Higher Order Beliefs in Survey Data</h4>
        <p>
          (with <a target="_blank" href="https://sites.google.com/site/ocoibion/">Olivier Coibion</a>,
          <a target="_blank" href="https://eml.berkeley.edu/~ygorodni/">Yuriy Gorodnichenko</a>, and
          <a target="_blank" href="https://www.satenkumar.com/">Saten Kumar</a>), 2021.
          <strong><em>Quarterly Journal of Economics</em></strong> 136: 3,1387-1446.
        </p>
        <p>
          <a target="_blank" href="/app/resources/CGKR - draft - 2021-01-11 _ formatted.pdf">PDF</a>
        </p>
      </div>
      <div class="panel-body">
        <p>
          Using novel survey questions on the higher-order expectations of firm managers, we study the formation and
          evolution of these beliefs. A unique experimental approach allows us to characterize the degree of
          higher-order thinking of economic agents and how this degree of higher-order thinking affects managers’
          expectations as well as their economic decisions. We then relate these results to macroeconomic models in
          which higher-order thinking matters for dynamics.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>Inflation Disasters and Consumption</h4>
        <p>
          2022. <strong><em>Journal of Monetary Economics</em></strong> Volume 129S, Pages S67-S81
        </p>
        <p>
          <a target="_blank" href="/app/resources/Ryngaert_JME_Resubmission.pdf">PDF</a>
        </p>
      </div>
      <div class="panel-body">
        <p>
          This paper shows that consumers with longer-tailed subjective probability distributions of inflation
          anticipate tighter access to future credit and lower real consumption growth. I propose a model in which rare
          inflation disasters decrease in credit access by raising debt issuance costs. I then empirically examine the
          predictions of the model on readiness to buy durables and reported future MPC, showing that consumers with
          long-tailed distributions are more likely to purchase durables and more likely to spend out of an unexpected
          increase in future income.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>What Do (and Don’t) Forecasters Know about U.S. Inflation?</h4>
        <p>
          Forthcoming at the <strong><em>Journal of Money, Credit, and Banking</em></strong>
        </p>
        <p>
          <a target="_blank" href="/app/resources/MS19-126.pdf">PDF</a>
        </p>
      </div>
      <div class="panel-body">
        <p>
          This paper contributes to and extends our current understanding of information frictions in expectations. I
          first propose a new framework for estimating noisy information using individual forecasts, rather than mean
          forecasts as commonly done in previous work. This approach provides more power for identifying underlying
          information rigidities. I further extend this framework to incorporate misperceptions on the part of economic
          agents about the persistence of the underlying process being forecasted. Applying this framework to the U.S.
          inflation forecasts of professional forecasters points toward significantly less noisy information than
          previous estimates suggest but reveals a systematic underestimation on the part of forecasters of the
          persistence of inflation. Using a structural model that incorporates both noisy signals and misperceptions of
          persistence, I quantify the relative importance of each channel in accounting for the expectations formation
          process of these agents. The results indicate that, even for professional forecasters, there are multiple
          forces that generate economically significant deviations from full information.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>Balance of Risks and the Anchoring of Consumer Expectations</h4>
        <p>
          <strong><em>Journal of Risk and Financial Management</em></strong> 16 (2), 79.
        </p>
        <p><a target="_blank" href="/app/resources/Balance_of_Risks.pdf">PDF</a></p>
      </div>
      <div class="panel-body">
        <p>
          This paper shows that expected inflation risks pose threats to the anchoring of expectations. I propose a new
          method for fitting subjective probability distributions to density forecasts that allows for asymmetric
          beliefs over inflation outcomes. Using data from the Federal Reserve Bank of New York’s Survey of Consumer
          Expectations, I show that medium-run expectations move in the direction of perceived short-run risks. I
          introduce a diffusion index of consumers’ perceived balance of risks to inflation and show that movements in
          the short-run index predict movements in the medium-run expectations and in the medium-run index. I conclude
          with a new measure of aggregate expectations for consumers that incorporates asymmetry in individual
          subjective probability distributions.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>Consumer Inflation Expectations: Daily Dynamics</h4>
        <p>
          with <a target="_blank" href="https://carolabinder.sites.haverford.edu/ ">Carola Binder</a> and
          <a target="_blank" href="https://sites.google.com/nd.edu/jrcampbell/home"> Jeffrey Campbell </a>
        </p>
        <p>
          2024.<strong><em>Journal of Monetary Economics</em></strong> Volume 145S, 103613
        </p>
        <p>
          <a download href="/app/resources/BCR_JME_Final.pdf">PDF</a>
        </p>
      </div>
      <div class="panel-body">
        <p>
          We use high frequency identification methods to study the response of consumer inflation expectations to many
          different types of events using data from the Federal Reserve Bank of New York’s Survey of Consumer
          Expectations. We identify the response of expectations to a large set of shocks, including FOMC meetings and
          macroeconomic data releases. We find that macroeconomic news and FOMC meetings with a press conference or rate
          cuts jointly move expectations.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>Partisan Expectations and Covid-Era Inflation</h4>
        <p>
          with <a target="_blank" href="https://carolabinder.sites.haverford.edu/ ">Carola Binder</a> and
          <a target="_blank" href="https://sites.google.com/view/rupalkamdar/home"> Rupal Kamdar </a>
        </p>
        <p>
          Forthcoming at <strong><em>Journal of Monetary Economics</em></strong>
        </p>
        <p>
          <a download href="/app/resources/BKR_JME_Final.pdf">PDF</a>
        </p>
      </div>
      <div class="panel-body">
        <p>
          We document that, during the COVID-19 era, the inflation expectations of Democrats remained strongly anchored,
          while those of Republicans did not. Republicans’ expectations not only rose well above the inflation target,
          but also became more sensitive to a variety of shocks, including CPI releases and energy prices. We then
          exploit geographic variation in political affiliation at the MSA level to show that the partial de-anchoring
          of expectations had implications for realized inflation. Counterfactual exercises imply that, had all
          expectations become as unanchored as those of Republicans, average inflation would have been two to four
          percentage points higher for much of the pandemic period, ceteris paribus.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>Consumers and Firm Inflation Expectations</h4>
        <p>with <a target="_blank" href="https://carolabinder.sites.haverford.edu/ ">Carola Binder</a></p>
        <p>
          Forthcoming at <strong><em> Handbook of Inflation Research</em></strong>
        </p>
        <p>
          Edward Elgar Publishing, eds.
          <a target="_blank" href=" https://sites.google.com/site/guidoascari/home">Guido Ascari</a> and
          <a target="_blank" href=" https://sites.google.com/site/riccardotrezzi/home">Riccardo Trezzi</a>
        </p>
      </div>
      <div class="panel-body">
        <p></p>
      </div>
    </div>
    <h3 class="jr-brand-color">Submitted</h3>
    <div class="panel">
      <div class="panel-heading">
        <h4>Job Search, Wages, and Inflation</h4>
        <p>with <a target="_blank" href="https://sites.google.com/site/laurapilossoph/">Laura Pilossoph</a></p>
        <p>
          <a target="_blank" href="/app/resources/Pilossoph_Ryngaert_2024.pdf">PDF</a>
        </p>
      </div>
      <div class="panel-body">
        <p>
          How do inflation expectations affect the job search behavior of workers when wages are set in nominal terms? A
          canonical job search model incorporating nominal wage rigidities implies that on-the-job search should
          increase and reservation wages should decrease with expected inflation. Higher inflation expectations
          therefore lead to more frequent job-to- job transitions. We show in a novel survey that workers search more
          under higher values of hypothetical inflation. In the Survey of Consumer Expectations, workers with higher
          inflation expectations have lower reservation wages and are more likely to search and to change jobs. The
          relationship between expected inflation and employer-to-employer transitions also appears in aggregate time
          series data.
        </p>
      </div>
    </div>

    <h3 class="jr-brand-color">Working Papers and Works in Progress</h3>
    <div class="panel">
      <div class="panel-heading">
        <h4>The Search Costs of Inflation</h4>
        <p>
          with <a target="_blank" href="https://sites.google.com/site/laurapilossoph/">Laura Pilossoph</a> and Jesse
          Wedewer
        </p>
        <p>
          <a target="_blank" href="/app/resources/PRW_08_2024.pdf">PDF</a>
        </p>
      </div>
      <div class="panel-body">
        <p>
          How does inflation transmit to changes in nominal wages? We proposal a model of on- the-job search in which
          What are the costs of inflation in the labor market? When wages are set nominally, inflation leads to reduced
          purchasing power, which prompts workers to search for other jobs in order to adjust their real wages; this
          search is costly. We quantify these costs in a model of on-the-job search, where search effort responds
          endogenously to unexpected inflation. Unexpected inflation erodes the value of a match to a worker through
          real wage losses and larger search costs. The real wage loss is absorbed as a benefit to firms, whereas the
          cost of search is a net aggregate cost of inflation.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>Disagreement among Professional Forecasters about FOMC Forward Guidance</h4>
        <p>with <a target="_blank" href="http://www.jyrc.org/index.html">Jeffrey Campbell</a></p>
      </div>
      <div class="panel-body">
        <p>
          We document that the quantity of FOMC forward guidance increases disagreement among professional forecasters’
          about GDP growth and inflation over the next twelve months. The same forward guidance events reduce
          disagreement about future interest rates and leave measures of individual forecasters’ uncertainty unchanged.
          We show that both persistent heterogeneity across forecasters’ models and transitory differences in their
          interpretations of particular FOMC statements contribute FOMC-induced disagreement.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>Time-Varying Attention and the Business Cycle</h4>
        <p>with <a target="_blank" href="https://sites.google.com/site/lemelosi/">Leonardo Melosi</a></p>
        <p>
          <a target="_blank" href="/app/resources/MR_2019_11.pdf">Preliminary Draft</a>
        </p>
      </div>
      <div class="panel-body">
        <p>
          This paper estimates time-varying information flows/attention to unemployment using cross- sectional
          variability in the SPF. We use this series of attention along with a standard set of macro time series and
          three measures of macroeconomic volatility computed by Jurado et al. (2015) to estimate a BVAR. We use this
          model to identify autonomous movements in attention and study their macroeconomic consequences. We find that
          these consequences are important and explain a large chunk of macro volatility at business-cycle frequencies.
          An exogenous increase in attention to unemployment triggers a persistent economic boom. Shocks to the private
          sector’s attention lower macro volatility and, in fact, explain most of the fluctuations in uncertainty at
          longer horizons. Consistent with rational inattention theory, the private sector’s attention rises following
          an exogenous increase in macroeconomic volatility.
        </p>
      </div>
    </div>
  </div>
</div>
