<div class="row">
    <div class="col-xs-10">
        <h2 class="jr-brand-color content-title">Research</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
          <ul class="list-group flex-column">
              <li class="list-group-item">
                  <a download href="/app/resources/J_Ryngaert_Research_Statement.pdf">Download my Research Statement</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <h3 class="jr-brand-color">Publications</h2>
            <div class="panel">
                <div class="panel-heading">
                    <h4>
                        Do You Know that I Know that You Know...? Higher Order Beliefs in Survey Data
                    </h4>
                    <p>
                         (with <a href="https://sites.google.com/site/ocoibion/">Olivier Coibion</a>,
                            <a href="https://eml.berkeley.edu/~ygorodni/">Yuriy Gorodnichenko</a>,
                            and <a href="https://www.satenkumar.com/">Saten Kumar</a>), 2020. <strong><em>Quarterly Journal of Economics</em></strong> 136: 3,1387-1446.
                    </p>    
                    <p>
                        <a download href="/app/resources/CGKR - draft - 2021-01-11 _ formatted.pdf">PDF</a>
                    </p>
                </div>
                <div class="panel-body">
                    <p>
                        Using novel survey questions on the higher-order expectations of firm managers, we study the formation and evolution of these
                        beliefs. A unique experimental approach allows us to characterize the degree of higher-order thinking
                        of economic agents and how this degree of higher-order thinking affects managers’ expectations as
                        well as their economic decisions. We then relate these results to macroeconomic models in which higher-order
                        thinking matters for dynamics.
                    </p>
                </div>
            </div>
        <h3 class="jr-brand-color">Working Papers and Works in Progress</h3>
        <div class="panel">
            <div class="panel-heading">
                <h4>
                    Inflation Disasters and Consumption
                </h4>
                <p>
                    <a download href="/app/resources/Inflation_Disasters.pdf">PDF</a>
                </p>
            </div>
            <div class="panel-body">
                <p>This paper shows that consumers with longer-tailed subjective probability distribu-
                    tions of inflation anticipate tighter access to future credit and lower real consumption
                    growth. I propose a model in which rare inflation disasters decrease in credit access
                    by raising debt issuance costs. I then empirically examine the predictions of the
                    model on readiness to buy durables and reported future MPC, showing that con-
                    sumers with long-tailed distributions are more likely to purchase durables and more
                    likely to spend out of an unexpected increase in future income.
                </p>
            </div>
        </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>
                        What Do (and Don’t) Forecasters Know about U.S. Inflation? (Job Market Paper)
                    </h4>
                    <p>Resubmitted at the <strong><em>Journal of Money, Credit, and Banking</em></strong></p>
                    <p>
                        <a download href="/app/resources/J_Ryngaert_JMP.pdf">PDF</a>
                    </p>
                </div>
                <div class="panel-body">
                    <p>
                       This paper contributes to and extends our current understanding of information 
                       frictions in expectations. I first propose a new framework for estimating noisy 
                       information using individual forecasts, rather than mean forecasts as commonly 
                       done in previous work.  This approach provides more power for identifying 
                       underlying information rigidities. I further extend this framework to incorporate 
                       misperceptions on the part of economic agents about the persistence of the
                        underlying process being forecasted. Applying this framework to the U.S.
                        inflation forecasts of professional forecasters points toward significantly 
                        less noisy information than previous estimates suggest but reveals a 
                        systematic underestimation on the part of forecasters of the persistence of inflation.
                        Using a structural model that incorporates both noisy signals and misperceptions
                        of persistence, I quantify the relative importance of each channel in accounting
                        for the expectations formation process of these agents. The results indicate that,
                        even for professional forecasters, there are multiple forces that generate 
                        economically significant deviations from full information.
                    </p>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>
                        Time-Varying Attention and the Business Cycle
                    </h4>
                    <p>
                        <em> with <a target="_blank" href='https://sites.google.com/site/lemelosi/'>Leonardo Melosi</a></em>
                    </p>  
                </div>
                <div class="panel-body">
                    <p>
                        This paper estimates time-varying information flows/attention to unemployment using cross-
                        sectional variability in the SPF. We use this series of attention along with a standard set
                        of macro time series and three measures of macroeconomic volatility computed by Jurado
                        et al. (2015) to estimate a BVAR. We use this model to identify autonomous movements
                        in attention and study their macroeconomic consequences. We find that these consequences
                        are important and explain a large chunk of macro volatility at business-cycle frequencies.
                        An exogenous increase in attention to unemployment triggers a persistent economic boom.
                        Shocks to the private sector’s attention lower macro volatility and, in fact, explain most
                        of the fluctuations in uncertainty at longer horizons. Consistent with rational inattention
                        theory, the private sector’s attention rises following an exogenous increase in macroeconomic
                        volatility.
                    </p>
                </div>
            </div>
    </div>
</div>