<div class="row">
    <div class="col-xs-10">
        <h2 class="jr-brand-color content-title">Teaching</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
            <div class="panel">
                <div class="panel-heading">
                    <h5>I am on leave for the Fall 2021 semester.</h5>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class='active'>
                            <a ng-click="setActivePanel('ECON 207');" data-toggle="tab">ECON 207</a>
                        </li>
                        <li class='active'>
                            <a ng-click="setActivePanel('ECON 207');" data-toggle="tab">ECON 272</a>
                        </li>
                            <!--<li>
                                <a ng-click="" data-toggle="tab"></a>
                            </li> -->
                    </ul>
                    <div class="tab-content clearfix">
                      <!--   <div ng-class="(activePanel === 'ECON 207') ? 'active' : null" class="tab-pane" id="1a">
                            <ul class="list-group flex-column">
                                        <li class="list-group-item">
                                            <a download href="/app/resources/Intermediate-Macroeconomics.pdf">Syllabus</a>
                                        </li>
                                        <li class="list-group-item">              
                                            <a download href="/app/resources/Problem-Set-1.pdf">Problem Set 1</a>
                                        </li>
                                        <li class="list-group-item">              
                                            <a download href="/app/resources/Problem-Set-1-KEY.pdf">Problem Set 1 Key</a>
                                        </li>
                                </ul>     
                        </div> -->
                    </div>             
                </div>
            </div>
        </div>
    </div>
</div>