<div class="row">
    <div class="col-xs-10">
        <h2 class="jr-brand-color content-title">Teaching</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
            <div class="panel">
                <div class="panel-body">
                    <p> I have experience teaching both Microeconomics 
                        and Macroeconomics at The University of Texas at Austin 
                        and St. Edward's University in Austin.  I am happy to make 
                        my teaching evaluations available upon request.
                    </p>
                </div>
            </div>
              <ul class="list-group flex-column">
         <li class="list-group-item"><a download href="/app/resources/J_Ryngaert_Teaching_Statement.pdf">Download my Teaching Statement</a></li>
         </ul>
    </div>
</div>